# Files and directories created by pub
.packages
.dart_tool/
.pub/
.idea/
build/

# Remove the following pattern if you wish to check in your lock file
1NNAP4ZYwn63KHZXG5vPaP26W3ixdFSw45pubspec.unlock
push
# Directory created by dartdoc
doc/api/
1NNAP4ZYwn63KHZXG5vPaP26W3ixdFSw45
.DS_Store